.container{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin: 20px;
    position: relative;
    box-sizing: border-box;
}
.no-data-container{
    text-align: center;
    img{
        margin-top: 100px;
        height: 500px;
    }
}
.mobile-view-container{
    // margin: 0;
}